.display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 380px;
  padding: 1rem;
  border-radius: 50px;
  background-color: aquamarine;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  padding: 50px;
  background-color: rgb(18, 76, 84);
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  color: white;
}

.copy-button {
  border-radius: 35px;
}

h3 {
  font-size: 30px;
  padding: 5px;
  margin: 0;
  color: black;
  animation-name: blink;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input {
  accent-color: aquamarine;
}

input[type="text"],
input[type="text"]:active,
input[type="text"]:read-only,
input[type="text"]:focus-visible {
  border-radius: 50px;
  color: rgb(18, 76, 84);
  border: none;
  background-color: transparent;
  height: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: large;
  outline: none;
}
